.order-history-container {
    max-width: 1000px;
    margin: 40px auto;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.08);
    font-family: 'Roboto', sans-serif;
}

.history-title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 26px;
    font-weight: 700;
}

/* TABLE */
.order-table {
    width: 100%;
    border-collapse: collapse;
}

    .order-table thead {
        background: #f5f5f5;
    }

    .order-table th {
        padding: 14px;
        text-align: left;
        font-weight: 600;
    }

    .order-table td {
        padding: 14px;
        border-bottom: 1px solid #eee;
    }

    .order-table tr:hover {
        background: #fafafa;
    }

/* STATUS */
.status {
    display: inline-block;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    min-width: 110px;
}

    /* Trạng thái */
    .status.Chờxửlý {
        background: #fff3cd;
        color: #856404;
    }

    .status.Đanggiao {
        background: #e3f2fd;
        color: #1565c0;
    }

    .status.Hoànthành {
        background: #e8f5e9;
        color: #2e7d32;
    }
    .status.Đãhủy {
        background: #fdecea;
        color: #d32f2f;
        font-weight: 600;
    }


.btn-detail {
    display: inline-block;
    padding: 8px 16px;
    background-color: #1976d2;
    color: #fff;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.2s ease;
}

    .btn-detail:hover {
        background-color: #125aa0;
        transform: translateY(-1px);
    }

