<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Cabin:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/account/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/account/css/asset/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/account/css/asset/footer.css" asp-append-version="true" />

    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <div class="header-container">
            <a asp-controller="Home" asp-action="Index"><img class="logo-img" src="~/img/logo.webp" alt="Logo" /></a>

            <button id="mobile-menu-toggle" class="mobile-toggle" aria-expanded="false" aria-label="Open menu">
                <span class="material-symbols-outlined">menu</span>
            </button>

            <div class="header-menu">
                <ul class="menu-list">
                    <li class="list">
                        <a class="tag-list" asp-controller="Products" asp-action="Shirts">Áo</a>
                    </li>
                    <li class="list">
                        <a class="tag-list" asp-controller="Products" asp-action="Pants">Quần</a>
                    </li>
                    <li class="list">
                        <a class="tag-list" asp-controller="Products" asp-action="Accessories">Phụ Kiện</a>
                    </li>
                </ul>

                <div class="search-wrapper">
                    <span id="icon-search" class="material-symbols-outlined">search</span>
                    <form method="post" asp-action="SearchByName" asp-controller="Products">
                        <input id="menu-search" name="txtKeywords" class="menu-search" type="search" placeholder="Tìm kiếm sản phẩm..." />
                    </form>
                </div>
            </div>

            <div class="header-chose">
                <a asp-controller="Cart" asp-action="Index" class="cart">
                    <span class="material-symbols-outlined">
                        shopping_cart
                    </span>
                </a>
                <a class="Login" asp-controller="Login" asp-action="Login">Logout</a>
            </div>
        </div>

        <nav id="mobile-menu" class="mobile-nav" aria-hidden="true">
            <ul class="menu-list mobile-menu-list">
                <li class="list"><a class="tag-list" asp-controller="Products" asp-action="Shirts">Áo</a></li>
                <li class="list"><a class="tag-list" asp-controller="Products" asp-action="Pants">Quần</a></li>
                <li class="list"><a class="tag-list" asp-controller="Products" asp-action="Accessories">Phụ Kiện</a></li>
            </ul>
            <div class="search-wrapper mobile-search">
                <span class="material-symbols-outlined">search</span>
                <input class="menu-search" type="search" placeholder="Tìm kiếm sản phẩm..." name="search" />
            </div>
            <div class="mobile-actions">
                <a asp-controller="Cart" asp-action="Index" class="cart mobile-cart">
                    <span class="material-symbols-outlined">shopping_cart</span>
                </a>
                <button class="Login mobile-login">Login</button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-container">
            <div class="footer-col footer-about">
                <a asp-controller="Home" asp-action="Index"><img class="footer-logo" src="~/img/logo.webp" alt="ClothingStore" /></a>
                <p class="footer-description">Quality clothing for everyday life.</p>
            </div>

            <div class="footer-col footer-links">
                <h4>Shop</h4>
                <ul>
                    <li><a asp-controller="Products" asp-action="Shirts">Áo</a></li>
                    <li><a asp-controller="Products" asp-action="Pants">Quần</a></li>
                    <li><a asp-controller="Products" asp-action="Accessories">Phụ Kiện</a></li>
                </ul>
            </div>

            <div class="footer-col footer-support">
                <h4>Hỗ trợ khách hàng</h4>
                <ul>
                    <li><a asp-controller="Home" asp-action="AboutUS">Giới thiệu</a></li>
                    <li><a asp-controller="Home" asp-action="Privacy">Chính sách bảo mật</a></li>
                    <li><a asp-controller="Home" asp-action="Index">Dịch vụ</a></li>
                </ul>
            </div>

            <div class="footer-col footer-contract">
                <h4>Thông tin liện hệ</h4>
                <div class="contract">
                    <div class="info">
                        <span class="material-symbols-outlined">
                            location_on
                        </span>
                        <p>Đà Nẵng</p>
                    </div>
                    <div class="info">
                        <span class="material-symbols-outlined">
                            mail
                        </span>
                        <p>ontop@rayma.vn</p>
                    </div>
                    <div class="info">
                        <span class="material-symbols-outlined">
                            call
                        </span>
                        <p>0901906116</p>
                    </div>
                </div>
                <div class="social">
                    <a href="#" class="fa fa-facebook social-link"></a>
                    <a href="#" class="fa fa-instagram social-link"></a>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; @DateTime.Now.Year OnTop. All rights reserved.</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
